<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../../node_modules/vue/dist/vue.js"></script>
    <script src="../../dist/bundle.js"></script>
</head>
<body>
    <div id="app">
        <hello></hello>
    </div>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    val: 'haha'
                }
            },
        })
    </script>
</body>
</html>